@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .no-print {
    display: none !important;
  }
  
  .print-only {
    display: block !important;
  }
}

